/* This is a comment in CSS. */
.example-blue-style {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: bold;
   color: #0000CC;
}

.my-img {
  width: 100%;
  /* Images default to being inline, inline items cannot have a width, so change to block: */
  display: block;
  /* The following may be needed if there's still a wierd looking 2-3px gap at the bottom of the image in some browsers: */
  vertical-align: bottom;